/* Don't change the existing CSS. */


.box {
  background-color: blue;
  padding: 10px;
  /* border: 10px solid; */
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
/*my edits*/
.white-text {
  color: white;
}
.inner-box {
  background-color: red;
}
#outer-box {
  background-color: purple;
}